.success-icon{
    background-color: #ddf5f0;
    color: #009688;
    display: inline-block;
    align-self: center;
    padding: 10px;
    border-radius: 12px;
    margin-right: 16px;
}

.warning-icon{
    background-color: #fff9ed;
    color: #e2a03f;
    display: inline-block;
    align-self: center;
    padding: 10px;
    border-radius: 12px;
    margin-right: 16px;
}

.danger-icon{
    background-color: #fff5f5;
    color: #e7515a;
    display: inline-block;
    align-self: center;
    padding: 10px;
    border-radius: 12px;
    margin-right: 16px;
}

.actions{
    padding: 0.5rem 1rem;
    float: right;
}

a.link{
    font-weight: 600;
    color: #61b6cd;
}

#myUL .caret::before{
    vertical-align: sub;
}

.select-test-button{
    margin-top: 50px;
    margin-left: -15px;
    color: #3E8E9E;
    background-color: #d1e5e9;
    position: absolute;
    display: inline-block;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0px 0px 20px -10px #3e8e9e;
    margin-right: 12px;
}

.table-action{
    position: absolute;
}
.table-action:before {
    content: 'Row ';
}

.success{
    background: #009688;
    font-weight: bold;
}

.failure{
    background: #e7515a;
    font-weight: bold;
}